html { background-image: url("../Images/water.jpg");
}


header {
 position: sticky;
 background-color: aquamarine;
 line-height: 60px;
 height: 60px;
 border: solid 15 px aquamarine;
 border: 5px solid seagreen;
 
}

i{
    color: teal;
}
.container{
    background-color: aquamarine;
    color: teal;
    font-family: 'Chicle', cursive;
    font-size: x-large;
    border: 5px solid seagreen;
    max-width: 270px ; 
    position: static;
}
.container1{
    max-width: 200px ; 
}
img.resize{
    max-width: 350px ;
    max-height: 350px; 
}


header h1 {
    float: left;
    font-family: 'Chicle', cursive;
    position: sticky;
}

header nav {
    float: right;
    font-family: 'Chicle', cursive;
    position: sticky;

}

#header-wrapper {
    width: 960px;
    margin: 0 auto;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
}

h2 { position: static;
    background-color: aquamarine;
    font-family: 'Chicle', cursive;
    color: teal;
    font-size: xx-large;
    border: 5px solid seagreen;
    text-align: center;

}

p { background-color: aquamarine;
    font-family: 'Chicle', cursive;
    color:teal;
    font-size: x-large;
    text-align: center;
}

a {
    font-family: 'Chicle', cursive;
    font-size: x-large;
}

a:hover {
    color: cyan;
}

a:focus {
    color: springgreen;
}
a:visited {
    color: seagreen;
}
h1{ 
    color: teal;
    background-color: aquamarine;
    font-family: 'Chicle', cursive;
    text-align: center;
    width: 400px;
    margin-top: 0px;
    margin-left: 90px; 
}
.img_box{
    position: relative; 
    float: left;
    width: 25%;
    margin: 50px;
    border: 5px solid seagreen;
}


.img_box img { 
 width: 100%;
}

.img_box p {
    display: block;
    background-color: aquamarine;
    color: teal;
    height: 25px;
    position: absolute;



    bottom: 3px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 15px 38px 15px;
    text-align: center;




}
.row{
    display: inline-block;
    background-color: aquamarine;
    color: teal;
    border: 5px solid seagreen;
}

footer {
    background-color: aquamarine;
    color: teal;
    font-family: 'Chicle', cursive;
    font-size: x-large;
    padding: 15px 15px 38px 15px;
    text-align: center;
    border: 5px solid seagreen;
    }
 
#footer-wrapper{
    width: 960px;
    margin: 50 px;
    text-align: center;
}
img.resize{
    max-width:100%;
    max-height: 100%;
    float: left;
    position: relative;
    transform: rotate(90deg);
} 

#container-wrapper-1{
    width: 960px;
    margin: 0 auto;
}

#container-wrapper-2{
    width: 960px;
    margin: 0 auto;
}
 #social-media-wrapper{
    color: teal;
    font-size: x-large;
    display: inline-block;

}

.social-media-icon{
    border-radius: 10 px;
    padding: 10 px;
    max-width: 100% 200 px;
    max-height: 100% 200 px;
    margin: 10 px;
    position: sticky;
    background-color: aquamarine;
    color: teal;
    font-size: x-large;
    display: inline-block;
} 
@media screen and (max-width: 980px) {
    html {
    background-color: aquamarine;
    }

    
}

@media screen and (max-width: 768px) {
    html {
     background-color: aquamarine;
    }

    
}

 @media screen and (max-width: 640px) {
     html { 
     background-color: aquamarine;
     }
     header h1{
         margin-left: 228px;
     }

    header nav{
        margin-right:228px;
    }
    body{
        text-align: center;
    }
 }
 @media screen and (max-width: 420px) {
    html { 
    background-color: aquamarine;
    }
    header h1{
        margin-left: 228px;
    }

   header nav{
       margin-right:228px;
   }
   body{
       text-align: center;
   }
}





